/* PAGINA INCIAL*/

.cabecalho{
 display: flex;
 margin: auto;
 flex-direction: column;
 align-items: center;
 gap: 10px;
}

.PaginaContainer{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.CorpoPaginaInicial{
   display: flex;
   margin: auto;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   margin-top: 80px;
}

.CorpoPaginaInicial img{
    margin-bottom: 60px;
}

.CorpoPaginaInicial h3{
    margin-bottom: 30px;

}
.CorpoPaginaInicial button{
    margin-bottom: 80px;
}

.rodapePaginaInicial a{
    display: inline;
    text-decoration: none;
    color: #E94057;
    text-align: center;
    padding: 20px;
}

#SingUp{
    text-decoration: none;
    color: black;
}

.rodape{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

/* pagina cadastro sexo*/

.cabecalhoCadastros{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#Skip{
    color:#E94057;
    text-decoration: none;
    
}

.botaoPrincipal{
    background-color: #E94057;
    color:white;
    height: 56px;
    width: 295px;
    left: 40px;
    border-radius: 15px;
    border: none;
}

.BotoesGostos{
    height: 45px;
    width: 140px;
    left: 40px;
    background-color: white;
    border-radius: [object Object]px;
    border-radius: 10px;
    border:2px solid #E8E6EA;
}

.BotoesGostos:hover{
    cursor: pointer;
    background-color: #E94057;
    color: white;
    border: none;
}
/* classe conteiner do bootstrap */
.container{
    width: 280px;
    height: 240px;
    margin-top: 30px;
}
/* estilizando a pagina inicial carrocel */
.botaoCarrocel{
    display:inline-block;
    background-color: #E94057;
    padding: 5px;
    border-radius: 100%;
    margin-left: 50px;
    margin-bottom: 10px;
}
.textoCarrocel h5{
    display: flex;
    color: #E94057;
    font-weight: 300px;
    justify-content: center;
}
.textoCarrocel p{
    display: flex;
    color: #323755;
    text-align: center;
}

.botaoPrincipalCarrocel{
    display: flex;
    background-color: #E94057;
    justify-content: center;
    color:white;
    height: 56px;
    width: 260px;
    padding: 20px;
   
    border-radius: 15px;
    border: none;
}
.carroselRodaPe p{
    display: flex;
    color: #323755;
    text-align: center;
}

.carroselRodaPe a{
    color:#E94057;
    font-weight: 600;
    text-decoration: none;
    
}